/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(http://fonts.googleapis.com/css?family=Kreon:300,400);

input::-webkit-input-placeholder {
  color: #7f746e;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-size: .9em;
  font-weight: 300;
}
input::-moz-placeholder {
  color: #7f746e;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-size: .9em;
  font-weight: 300;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: #7f746e;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-size: .9em;
  font-weight: 300;
}
input:-ms-input-placeholder {
  color: #7f746e;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-size: .9em;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: 'proxima-nova-condensed', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header-nav {
  width: 100%;
  height: 64px;
  background-color: #eaebe8;
  padding: 0 15px 0 225px;
}

.header-nav a {
  line-height: 64px;
  color: #6d645e;
  text-transform: uppercase;
}

.split {
  display: inline;
  color: #6d645e;
  margin: 0 6px;
  font-size: .9em;
}

.home-link, .contact-link {
  font-size: .9em;
}

.cart-link {
  background-image: url('../img/cart-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 40px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 8px;
}

.login-register-link {
  background-image: url('../img/login-icon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40px 40px;
  height: 64px;
  display: inline-block;
  padding-right: 50px;
  vertical-align: middle;
  font-size: .9em;
}

.search-container {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  position: relative;
  color: #6d645e;
}

.search-container .fa-search {
  position: absolute;
  right: 10px;
  top: 10px;
}

.search {
  width: 150px;
  height: 35px;
  padding: 10px 30px 10px 10px;
  border: none;
  color: #6d645e;
}

.feature-container {
  width: 100%;
  height: 325px;
  background-image: url('../img/mountains.jpg');
  background-size: cover;
  background-position: center;
  padding: 70px 0 0 370px;
}

.feature-content {
  color: #f6f7f4;
  width: 483px;
}

.feature-content h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 5.6em;
  height: 108px;
}

.feature-content p {
  margin: 0;
  font-size: 1.4em;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-weight: 300;
}

/* ---------------- STICKY SIDE NAV & SUBSCRIPTION -------------- */

.side-nav-section {
  position: fixed;
  top: 15px;
  left: 16px;
  width: 190px;
  height: 522px;
}

.side-nav {
  width: 100%;
}

.nav-logo {
  width: 100%;
  height: 163px;
  display: block;
}

.side-nav-menu {
  width: 100%;
  height: 271px;
  background-image: url('../img/side-nav-menu-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.side-nav-menu ul {
  margin: 0;
  width: 100%;
  height: 271px;
  padding: 0;
}

.side-nav-menu li {
  width: 100%;
  border-top: 1px solid #7b776f;
  text-transform: uppercase;
  background-color: rgba(71, 66, 61, .7);
  height: 30px;
}

.side-nav-link {
  color: #eaebe8;
  font-size: .9em;
  height: 100%;
  width: 100%;
  padding: 0 0 0 9px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

.side-nav-link:hover {
  background-color: rgba(71, 66, 61, .8);
}

.menu-arrow {
  display: inline-block;
  vertical-align: middle;
  float: right;
  height: 27px;
  width: auto;
}

.subscription-container {
  display: block;
  height: 73px;
  margin-top: 14px;
}

.subscription-image {
  width: 73px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.subscription-caption {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  text-transform: uppercase;
  font-size: .85em;
  color: #6d645e;
}

.side-nav-search {
  margin-top: 14px;
  display: none;
}

.side-nav-search .search-container {
  width: 190px;
}

.side-nav-search .search-container .search {
  width: 190px;
}

.side-nav-search .login-link {
  background-image: url('../img/login-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
}

/* --------------------- CONTENT -------------------- */

.content-container {
  width: 100%;
  min-height: 590px;
  padding: 70px 40px 74px 285px;
  color: #6d645e;
  overflow: auto;
}

.inner-content-container {
  max-width: 607px;
  width: 55%;
  display: inline-block;
  margin-right: 45px;
}

.content-title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 18px;
}

.inner-content-container p {
  font-family: 'Kreon', 'Times New Roman', serif;
  font-weight: 300;
  margin-top: 0;
}

.content-image-container {
  max-width: 286px;
  display: inline-block;
}

.content-image {
  width: 286px;
  height: auto;
}

.content-image-caption {
  font-family: 'Kreon', 'Times New Roman', serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  width: 90%;
  margin: 17.6px auto;
}

/* ---------------------- MEET THE TEAM --------------------- */

.team-container {
  width: 100%;
  min-height: 724px;
  overflow: auto;
  background-color: #eaebe8;
  padding: 71px 0 71px 204px;
  text-align: center;
}

.inner-team-container {
  padding: 0 16px;
}

.team-title {
  width: 324px;
  border-bottom: 1px solid #6d645e;
  color: #6d645e;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

.team-member-container {
  width: 173px;
  height: 240px;
  margin: 25px 15px;
  display: inline-block;
  position: relative;
}

.team-member-photo {
  width: 173px;
  height: auto;
  position: absolute:
  top: 0;
  left: 0;
  display: inline-block;
}

.team-member-name {
  font-size: 1.4em;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  color: #74b358;
}

.team-member-role {
  margin: 0;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-weight: 300;
  color: #6d645e;
}

.team-member-container:hover .team-member-name {
  color: #608c48;
}

.team-member-container:hover .image-hover {
  visibility: visible;
}

.image-hover {
  visibility: hidden;
  width: 173px;
  height: 173px;
  border-radius: 50%;
  background-color: rgba(102, 88, 79, .5);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 10;
}

.image-hover-spy-glass {
  width: 40px;
  height: 40px;
  display: block;
  margin: 40% auto 0 auto;
}

/* ---------------------- FOOTER ------------------------ */

footer {
  width: 100%;
  height: 269px;
  background-image: url('../img/footer-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 0 0;
}

.footer-nav-container {
  width: 535px;
  margin: 0 auto;
}

.footer-nav {
  display: inline-block;
}

.footer-nav a {
  color: #d6d6cf;
  padding: 0 10px;
  border-right: 1px solid #eaebe8;
}

.footer-nav a:last-child {
  border-right: none;
  padding-right: 0;
}

.footer-logo {
  width: 187px;
  height: auto;
  margin-right: 50px;
}

.social-icons {
  width: 143px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.copyright-container {
  margin: 0 auto;
  text-align: center;
}

.copyright, .caddis-symbol {
  color: #d6d6cf;
  font-family: 'Kreon', 'Times New Roman', serif;
  font-weight: 300;
  font-style: italic;
  font-size: .85em;
  display: inline-block;
}

.copyright {
  margin-right: 25px;
}

.caddis-symbol img {
  width: 28px;
  height: auto;
  margin-left: 6px;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
